<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StudyMate - Panel de Control</title>
        <script src="script.js"></script>
        <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='Iestilo.css') }}">

<!-- Enlazar archivo CSS de FullCalendar -->
<link href="{{ url_for('static', filename='fullcalendar/main.min.css') }}" rel="stylesheet" />
    
<!-- Enlazar archivo JavaScript de FullCalendar -->
<script src="{{ url_for('static', filename='fullcalendar/main.min.js') }}"></script>

    </head>
<body>
    <div class="container">
        <header>
            <h1>Panel de Control</h1>
            <img src="{{ url_for('static', filename='ROBOT.gif') }}" alt="Robot" class="robot-img">
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Calendario</a></li>
                    <li><a href="#">Tareas</a></li>
                    <li><a href="#">Notas</a></li>
                    <li><a href="#">Configuración</a></li>
                    <li><a href="{{ url_for('cerrar_sesion') }}">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="left-section">
                <h2>Tareas Pendientes</h2>
                <form method="POST" action="{{ url_for('agregar_tarea') }}" class="form-container">
                    <input type="text" name="titulo" placeholder="Título">
                    <input type="text" name="detalle" placeholder="Detalle">
                    <button type="submit">Agregar </button>
                    <button type="submit" id="editar-tarea">Editar</button>
                    <button type="submit" id="eliminar-tarea">Eliminar</button>
                </form>
                <table class="table">
                    <thead>
                       
                    </thead>
                    <tbody>
                        {% for tarea in tareas %}
                        <tr>
                            <td class="table-data">{{ tarea[1] }}</td> <!-- Título -->
                            <td class="table-data">{{ tarea[2] }}</td> <!-- Detalle -->
                            <td class="table-data">
                                <form action="{{ url_for('eliminar_tarea', tarea_id=tarea[0]) }}" method="post">
                                    <button type="submit">Eliminar</button>
                                </form>
                            </td> <!-- Botón de eliminar -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            
            <section class="calendar">
                <h2>Calendario de Estudio</h2>
                <div id="calendar"></div>
            </section>
            
            
            <section class="right-section">
                <h2>StudyMate Buscador</h2>
                <script async src="https://cse.google.com/cse.js?cx=779bf92c845e04234">
                </script>
                <div class="gcse-search"></div>
            </section>
            
            
            <section class="youtube-search">
                <h2>StudyMate Music</h2>
                <script async src="https://cse.google.com/cse.js?cx=764676ad176bf4a57">
                </script>
                <div class="gcse-search"></div>
            </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
